.section1{ width: 100%;
  height: 500px; /* غيّره حسب ما تريد */
  background-image: url("a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}
.image {
  position: relative;
  width: 100%;
  display: inline-block;
}

.img_text {
  position: absolute;
  top: 10%;           /* center vertically */
  left: 50%;          /* center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgb(22, 78, 30);
  color: white;       /* text color */
  font-size: 40px;    /* make text bigger */
 
}
.text {
  position: absolute;
  top: 40%;           /* center vertically */
  left: 50%;          /* center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgb(37, 37, 122);
  color: white;       /* text color */
  font-size: 20px;    /* make text bigger */
   background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
  color: #000; /* text color */
  border-radius: 10px; /* optional: rounded corners */
  display: inline-block; /* so background wraps only the text */

}
.container{
  padding-top: 70px;
}
.class{
  width:90%;
  height:200px;
   object-fit: cover;
  border-radius: 10px;
}
.text-center{
   padding-top: 70px;
}
.bg-section {
 
    background-image: url('school.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.transparent-form {
    background-color: transparent; /* makes background see-through */
}

 .form-control {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.4);
  }
  .form-control:focus {
    box-shadow: 0 0 8px rgba(0, 128, 0, 0.6);
    border-color: #047857;
  }
